body {
    /* Everything is Raleway */
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: #fcfcfa;
    color: #818078;
    font-family: Futura, sans-serif;
  }

  .navbar-brand {
    font-family: 'oswald';
    font-size: 30px;
  }

h1 {
font-family: 'oswald';
}

h3 {
  font-family: 'oswald';
  }

video {
  height: 100%;
  width: 100%;
}

.jumbotron{

  background-color: #eaeaea ;
}

#textbox {
  display: flex;
  justify-content: space-between;
}

#textbox2 {
  display: flex;
  justify-content: space-between;
}


.insta{
  color:#f72daf;
}

.insta2{
  color:#f5f5f5;
}

.whatsapp{
color: #43e06d;
}

.whatsapp2{
  color: #f5f5f5;
  
  }

#contact-page {
  text-align: center;
  background: #fcfcfa;
  color: #818078;
  font-family: Futura, sans-serif;
}





/* try */

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: grey;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.instacontact {
  text-align: left;
  color: #f5f5f5;
}

#follow{
  color: #eaeaea;
}

#jumbo {
background-color: black;

}

#lecordon{
max-width: 100%;
}